{% extends 'CashflowBundle::base.html.twig' %}

{% block body %}
    <h2>Kategorie portfeli</h2>
    {% if walletCategories %}
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            {% for category in walletCategories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td><a class="btn btn-warning btn-sm" href="{{ path('admin-wallet-categories-edit', { 'id': category.id }) }}">
                            Edytuj
                        </a></td>
                    <td>
                        <a class="btn btn-danger btn-xs" href="{{ path('admin-wallet-categories-delete', { 'id': category.id }) }}">
                            Usuń
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nie ma żadnych kategorii.</p>
    {% endif %}
    <a class="btn btn-primary" href="{{ path('admin-wallet-categories-add') }}">Dodaj kategorię</a>
{% endblock %}