{% extends 'CashflowBundle::base.html.twig' %}

{% block body %}
    <h2>{{ 'wallets.views.index.title'|trans }}</h2>
    {% if wallets %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'wallets.views.index.table.name'|trans }}</th>
                <th>{{ 'wallets.views.index.table.created_at'|trans }}</th>
                <th>{{ 'wallets.views.index.table.category'|trans }}</th>
                <th>{{ 'wallets.views.index.table.action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for wallet in wallets %}
                <tr>
                    <td>{{ wallet.name ? wallet.name }}</td>
                    <td>{{ wallet.CreatedAt ? wallet.CreatedAt|date('d-m-Y') }}</td>
                    <td>{{ wallet.category ? wallet.category.name }}</td>
                    <td><a href="{{ path('wallets-view', { 'id' : wallet.id }) }}">{{ 'show'|trans }}</a></td>
                    <td><a href="{{ path('wallets-edit', { 'id' : wallet.id }) }}">{{ 'edit'|trans }}</a></td>
                    <td><a href="{{ path('wallets-delete', { 'id' : wallet.id }) }}">{{ 'delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'wallets.views.index.no_wallets'|trans }}</p>
    {% endif %}
{% endblock %}