{% extends 'CashflowBundle::base.html.twig' %}

{% block body %}
    <h2>Your wallets</h2>
    {% if wallets %}
        <table class="table">
            <thead>
            <tr>
                <th>Wallet name</th>
                <th>Created At</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for wallet in wallets %}
                <tr>
                    <td>{{ wallet.name ? wallet.name }}</td>
                    <td>{{ wallet.CreatedAt ? wallet.CreatedAt|date('d-m-Y') }}</td>
                    <td>{{ wallet.category ? wallet.category.name }}</td>
                    <td><a href="{{ path('wallets-view', { 'id' : wallet.id }) }}">Show</a></td>
                    <td><a href="{{ path('wallets-edit', { 'id' : wallet.id }) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no wallets yet.</p>
    {% endif %}
{% endblock %}