{% extends 'CashflowBundle::base.html.twig' %}

{% block body %}
    <h2>{{ 'wallets.views.view.title'|trans }} {{ wallet.name }}</h2>
    <p>{{ 'wallets.views.view.description'|trans }}: {{ wallet.description }}</p>
    <article class="transactions well">
        <h4>{{ 'wallets.views.view.last_5'|trans }}</h4>
        {% if transactions %}
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'wallets.views.view.table.name'|trans }}</th>
                    <th>{{ 'wallets.views.view.table.description'|trans }}</th>
                    <th>{{ 'wallets.views.view.table.amount'|trans }}</th>
                    <th>{{ 'wallets.views.view.table.created_at'|trans }}</th>
                    <th>{{ 'wallets.views.view.table.action'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.name ? transaction.name }}</td>
                        <td>{{ transaction.description ? transaction.description }}</td>
                        <td>{{ transaction.amount ? transaction.amount }}
                        <td>{{ transaction.CreatedAt ? transaction.CreatedAt|date('d-m-Y') }}
                        <td><a href="{{ path('transactions-edit', { 'id' : transaction.id }) }}">
                                {{ 'edit'|trans }}</a>
                        </td>
                        <td><a href="{{ path('transactions-delete', { 'id' : transaction.id }) }}">
                                {{ 'delete'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ 'wallets.views.view.no_transactions'|trans }}</p>
        {% endif %}
    </article>
{% endblock %}