{% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index') }}">CashFlow</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% if app.request.attributes.get('_controller') == 'app.static_pages_controller:indexAction' %}active{% endif %}">
                        <a href="{{ path('index') }}">{{ 'navbar.index'|trans }}</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                        <li class="{% if app.request.attributes.get('_controller') == 'app.wallets_controller' %}active{% endif %}">
                            <a href="{{ path('admin-wallets-index') }}">{{ 'navbar.admin.wallets'|trans }}</a></li>

                        <li class="{% if app.request.attributes.get('_controller') == 'app.transactions_controller:addAction' %}active{% endif %}">
                            <a href="{{ path('admin-transactions-index') }}">{{ 'navbar.admin.transactions'|trans }}</a>

                        <li class="{% if app.request.attributes.get('_controller') == 'app.transactions_controller:addAction' %}active{% endif %}">
                            <a href="{{ path('admin-wallet-categories-index') }}">{{ 'navbar.admin.wallet.categories'|trans }}</a></li>

                        <li class="{% if app.request.attributes.get('_controller') == 'app.transactions_controller:addAction' %}active{% endif %}">
                            <a href="{{ path('admin-transaction-categories-index') }}">{{ 'navbar.admin.transactions.categories'|trans }}</a></li>

                    {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="{% if app.request.attributes.get('_controller') == 'app.wallets_controller:indexAction' %}active{% endif %}">
                            <a href="{{ path('wallets') }}">{{ 'navbar.wallets'|trans }}</a></li>

                        <li class="{% if app.request.attributes.get('_controller') == 'app.transactions_controller:indexAction' %}active{% endif %}">
                            <a href="{{ path('transactions') }}">{{ 'navbar.transactions'|trans }}</a></li>

                        <li class="{% if app.request.attributes.get('_controller') == 'app.transactions_controller:addAction' %}{% endif %}">
                            <a href="{{ path('transactions-add', { 'outcome' : true }) }}">{{ 'navbar.add_outcome'|trans }}</a></li>

                        <li class="{% if app.request.attributes.get('_controller') == 'app.transactions_controller:addAction' %}{% endif %}">
                            <a href="{{ path('transactions-add', { 'outcome' : false }) }}">{{ 'navbar.add_income'|trans }}</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin-users-index') }}">{{ 'profiles.index'|trans }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'navbar.logout'|trans }}</a></li>
                    {% elseif (is_granted('IS_AUTHENTICATED_FULLY')) %}
                        <li><a href="{{ path('fos_user_profile_show') }}">{{ 'profile'|trans }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'navbar.logout'|trans }}</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'navbar.login'|trans }}</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'navbar.register'|trans }}</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}