{% extends 'CashflowBundle::base.html.twig' %}

{% block body %}
    <h2>{{ 'transactions.views.index.title'|trans }}</h2>
    {% if transactions %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'transactions.views.index.name'|trans }}</th>
                <th>{{ 'transactions.views.index.description'|trans }}</th>
                <th>{{ 'transactions.views.index.amount'|trans }}</th>
                <th>{{ 'transactions.views.index.action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {#{% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td><a href="{{ path('transactions-edit', { 'id' : transaction.id }) }}">
                            {{ 'edit'|trans }}
                        </a>
                    </td>
                    <td><a href="{{ path('transactions-delete', { 'id' : transaction.id }) }}">
                            {{ 'delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}#}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'transactions.views.index.no_transactions'|trans }}</p>
    {% endif %}
{% endblock %}