{% extends 'CashflowBundle::base.html.twig' %}
{% block body %}
<h2>Wszystkie transakcje</h2>
    {% if transactions %}
<table class="table">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Data</th>
        <th>Portfel</th>
        <th>Uzytkownik</th>
        <th>Kategoria</th>
        <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
    {% for trans in transactions %}
    <tr>
        <td>{{ trans.name }}</td>
        <td>{{ trans.description }}</td>
        <td>{{ trans.amount }}</td>
        <td>{{ trans.wallet.name }}</td>
        <td>{{ trans.wallet.user }}</td>
        <td>{{ trans.category.name ? trans.category.name }}</td>
        <td><a href="{{ path('transactions-edit', { 'id' : trans.id }) }}">
                {{ 'edit'|trans }}
            </a>
        </td>
        <td><a href="{{ path('transactions-delete', { 'id' : trans.id }) }}">
                {{ 'delete'|trans }}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
        {% else %}
        <p>Nie ma żadnych transakcji.</p>
        {% endif %}
{% endblock %}